* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

button {
    border: .2rem solid black;
    background: none;
    padding: 1.6rem;
    color: black;
    font-size: 3rem;
    transition: .6s ease;
}

button:hover {
    background-color: blue;
}

iframe {
    border: none;
    width: 40rem;
    height: 50rem;
}