* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    --bg-color: #00000F;
    --primary-color: #2753C4;
    --light-color: #5375CF;
    --dark-color: #090936;
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    width: 40rem;
    height: 60rem;
}

.title {
    background-color: var(--light-color);
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    padding: 1.6rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.9rem;
    flex-grow: 1;
    width: 100%;
}

input {
    padding: 1rem;
    font-size: 1.9rem;
    text-align: center;
    outline: none;
    border: .1rem solid var(--dark-color);
}

.result-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    font-size: 1.9rem;
}

button {
    padding: 1.2rem;
    font-size: 1.9rem;
    width: 100%;
    border: .1rem solid var(--dark-color);
    background-color: var(--light-color);
    color: white;
    transition: .5s ease-in-out;
}

button:hover {
    background-color: var(--dark-color);
}

.result {
    width: 100%;
    height: 7rem;
    color: white;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}